In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel_amostra.csv', sep=';')

In [3]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Recreio dos Bandeirantes,3,2,1,320,3200.0,1319.0,0.0,10.00,Apartamento
1,Apartamento,Maracan達,2,0,0,59,800.0,725.0,47.0,13.56,Apartamento
2,Apartamento,Leblon,3,2,1,147,7500.0,1000.0,381.0,51.02,Apartamento
3,Apartamento,S達o Conrado,3,3,3,270,14999.0,2800.0,1200.0,55.55,Apartamento
4,Apartamento,Tijuca,2,1,0,65,1200.0,640.0,97.0,18.46,Apartamento

In [4]:
valor = dados['Valor m2']

In [7]:
Q1 = valor.quantile(.25)
Q3 = valor.quantile(.75)
IIQ = Q3 - Q1
limit_inf = Q1 - 1.5 * IIQ
limit_sup = Q3 + 1.5 * IIQ

In [8]:
Q1

21.25

In [9]:
Q3

42.31

In [10]:
IIQ

21.060000000000002

In [11]:
limit_inf

-10.340000000000003

In [12]:
limit_sup

73.9