## Conteúdo separado das aulas da Alura

In [1]:
import pandas as pd

In [2]:
ibge = pd.read_html('http://www.idealsoftwares.com.br/indices/ipca_ibge.html')

len(ibge)

3

## Escolhendo apenas os doze meses de 2021

In [3]:
ibge[1][0:12]

,Mês/ano,Índice do mês(em %),Índice acumuladono ano (em %),Índice acumulado nos últimos 12 meses (em %),Número índice acumulado a partirde Jan/93
0,Jan/2021,025,2500.0,45591,1.436616
1,Fev/2021,086,11121.0,51953,1.448971
2,Mar/2021,093,20525.0,60993,1.462447
3,Abr/2021,031,23689.0,67592,1.466980
4,Mai/2021,083,32185.0,80559,1.479156
5,Jun/2021,053,37656.0,83469,1.486996
6,Jul/2021,096,47617.0,89945,1.501271
7,Ago/2021,087,56732.0,96797,1.514332
8,Set/2021,116,68990.0,102464,1.531898
9,Out/2021,125,82352.0,106727,NaN
10,Nov/2021,NaN,NaN,NaN,NaN
11,Dez/2021,NaN,NaN,NaN,NaN

## Mostrando somente as colunas desejadas

In [4]:
s = pd.DataFrame(ibge[1][0:12], columns=['Mês/ano', 'Índice do mês(em %)', 'Índice acumuladono ano (em %)', 'Índice acumulado nos últimos 12 meses (em %)'])

In [5]:
s

,Mês/ano,Índice do mês(em %),Índice acumuladono ano (em %),Índice acumulado nos últimos 12 meses (em %)
0,Jan/2021,025,2500.0,45591
1,Fev/2021,086,11121.0,51953
2,Mar/2021,093,20525.0,60993
3,Abr/2021,031,23689.0,67592
4,Mai/2021,083,32185.0,80559
5,Jun/2021,053,37656.0,83469
6,Jul/2021,096,47617.0,89945
7,Ago/2021,087,56732.0,96797
8,Set/2021,116,68990.0,102464
9,Out/2021,125,82352.0,106727
10,Nov/2021,NaN,NaN,NaN
11,Dez/2021,NaN,NaN,NaN

## Convertendo as colunas para float

In [6]:
s[['Índice do mês(em %)', 'Índice acumuladono ano (em %)', 'Índice acumulado nos últimos 12 meses (em %)']] = s[['Índice do mês(em %)', 'Índice acumuladono ano (em %)', 'Índice acumulado nos últimos 12 meses (em %)']].astype(float)

In [7]:
s.dtypes

Mês/ano                                          object
Índice do mês(em %)                             float64
Índice acumuladono ano (em %)                   float64
Índice acumulado nos últimos 12 meses (em %)    float64
dtype: object

## Dividindo a coluna, só divide uma coluna de cada vez

In [8]:
s['Índice do mês(em %)'] = s['Índice do mês(em %)'].div(100).round(2)

In [9]:
s['Índice acumuladono ano (em %)'] = s['Índice acumuladono ano (em %)'].div(10000).round(2)

In [10]:
s['Índice acumulado nos últimos 12 meses (em %)'] = s['Índice acumulado nos últimos 12 meses (em %)'].div(10000).round(2)

In [11]:
s

,Mês/ano,Índice do mês(em %),Índice acumuladono ano (em %),Índice acumulado nos últimos 12 meses (em %)
0,Jan/2021,0.25,0.25,4.56
1,Fev/2021,0.86,1.11,5.20
2,Mar/2021,0.93,2.05,6.10
3,Abr/2021,0.31,2.37,6.76
4,Mai/2021,0.83,3.22,8.06
5,Jun/2021,0.53,3.77,8.35
6,Jul/2021,0.96,4.76,8.99
7,Ago/2021,0.87,5.67,9.68
8,Set/2021,1.16,6.90,10.25
9,Out/2021,1.25,8.24,10.67
10,Nov/2021,NaN,NaN,NaN
11,Dez/2021,NaN,NaN,NaN

## Renomeando as colunas

In [65]:
s.rename(columns={'Mês/Ano': 'Mes/ano',
                      'Índice acumuladono ano (em %)': 'Acumulado no ano (%)',
                      'Índice acumulado nos últimos 12 meses (em %)': 'Acumulado 12 meses (%)',
                      'Índice do mês(em %)': 'Mes (%)'}, inplace=True)

In [68]:
s

     Mês/ano  Mes (%)  Acumulado no ano (%)  Acumulado 12 meses (%)
0   Jan/2021     0.25                  0.25                    4.56
1   Fev/2021     0.86                  1.11                    5.20
2   Mar/2021     0.93                  2.05                    6.10
3   Abr/2021     0.31                  2.37                    6.76
4   Mai/2021     0.83                  3.22                    8.06
5   Jun/2021     0.53                  3.77                    8.35
6   Jul/2021     0.96                  4.76                    8.99
7   Ago/2021     0.87                  5.67                    9.68
8   Set/2021     1.16                  6.90                   10.25
9   Out/2021     1.25                  8.24                   10.67
10  Nov/2021      NaN                   NaN                     NaN
11  Dez/2021      NaN                   NaN                     NaN

## Exportando os dados do DataFrame

In [66]:
s.to_csv('data/ipca_2021.csv', sep=';')

In [67]:
# Salvando na minha area de trabalho
s.to_csv('C:/.../ipca_2021.csv', sep=';')