In [6]:
import pandas as pd

# Series

In [4]:
data = [1, 2, 3, 4, 5]

In [7]:
s = pd.Series(data)

In [8]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
index = ['Linha' + str(i) for i in range(5)]

In [10]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [12]:
s = pd.Series(data = data, index = index)

In [13]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [14]:
data = {'Linha' + str(i) : i + 1 for i in range(5)}

In [15]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [16]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [17]:
# Somando 2 a todos os registros
s1 = s + 2
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [18]:
s2 = s + s1
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

In [19]:
s3 = s2 / 2
s3

Linha0    2.0
Linha1    3.0
Linha2    4.0
Linha3    5.0
Linha4    6.0
dtype: float64

In [21]:
s4 = s3 * 1.5
s4

Linha0    3.0
Linha1    4.5
Linha2    6.0
Linha3    7.5
Linha4    9.0
dtype: float64

# DataFrame

In [22]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [24]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [25]:
index = ['Linha' + str(i) for i in range(3)]
index

['Linha0', 'Linha1', 'Linha2']

In [27]:
df1 = pd.DataFrame(data=data, index=index)
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [28]:
cols = ['Coluna' + str(i) for i in range(3)]
cols

['Coluna0', 'Coluna1', 'Coluna2']

In [29]:
df1 = pd.DataFrame(data=data, index=index, columns=cols)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [30]:
df1[df1 > 0] = 'A'
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [36]:
data2 = [(1,2,3),
        (4,5,6),
        (7,8,9)]
data2

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [37]:
df2 = pd.DataFrame(data=data2, index=index, columns=cols)

In [38]:
df2[df2 > 0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [39]:
df3 = pd.concat([df1, df2])
df3

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [47]:
df3 = pd.concat([df1, df2], axis=1)
df3

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B
Linha1       A       A       A       B       B       B
Linha2       A       A       A       B       B       B