# Relatório de Análise II

## Tipos de Imóveis

In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('data/aluguel.csv', sep=';')

In [4]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
5,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
6,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
7,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
8,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
9,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,14.71,Apartamento

In [5]:
# Visualizando somente a coluna Tipo
dados['Tipo']

0        Apartamento
1        Apartamento
2        Apartamento
3        Apartamento
4        Apartamento
            ...
19826      Quitinete
19827      Quitinete
19828      Quitinete
19829      Quitinete
19830      Quitinete
Name: Tipo, Length: 19831, dtype: object

In [6]:
# Só funciona se caso a variável tiver um nome válido (nao pode conter espaços ou virgulas)
dados.Tipo

0        Apartamento
1        Apartamento
2        Apartamento
3        Apartamento
4        Apartamento
            ...
19826      Quitinete
19827      Quitinete
19828      Quitinete
19829      Quitinete
19830      Quitinete
Name: Tipo, Length: 19831, dtype: object

In [13]:
tipo_imovel = dados['Tipo']

In [14]:
type(tipo_imovel)

pandas.core.series.Series

In [24]:
tipo_imovel.drop_duplicates(inplace=True)

In [25]:
tipo_imovel

0               Apartamento
16923                  Casa
17821    Casa de Condomínio
18785          Casa de Vila
19018             Quitinete
Name: Tipo, dtype: object

## Organizando a Visualização

In [31]:
tipo_imovel = pd.DataFrame(tipo_imovel)

In [32]:
tipo_imovel

                     Tipo
0             Apartamento
16923                Casa
17821  Casa de Condomínio
18785        Casa de Vila
19018           Quitinete

In [34]:
tipo_imovel.shape[0]

5

In [35]:
range(tipo_imovel.shape[0])

range(0, 5)

In [36]:
tipo_imovel.index = range(tipo_imovel.shape[0])

In [38]:
tipo_imovel.index

RangeIndex(start=0, stop=5, step=1)

In [39]:
tipo_imovel.columns.name = 'Id'

In [40]:
tipo_imovel

Id                Tipo
0          Apartamento
1                 Casa
2   Casa de Condomínio
3         Casa de Vila
4            Quitinete